
<app-header></app-header><br><br>
<div class="jumbotron jumbotron-fluid">
  <div class = "container">
  <h1 class="display-4">Welcome to DailyNeeds!!!!!!</h1>
  <p class="lead">
    The Online Ecommerce Application for your daily needs....
  </p>
  <hr class="my-2">
  </div>
</div>
<div class="container-fluid">
 <!--  <app-products>Products are loading.....</app-products> -->
 <!-- <app-add-product-model>Loading..</app-add-product-model> -->
 <!-- <app-contactus> </app-contactus> -->
<!--  <app-registration></app-registration> -->
<router-outlet></router-outlet>
</div>
<!-- <h2>Two Way BInding using propety and event binding</h2>
<div>
  Name = <input [value] = 'name' (input) = 'name = $event.target.value'>
  <br><br>
  You entered : {{name}}
</div> -->
<!--property binding is from component to view-->
<!--Event binding is from view to component-->
<!-- <h2>Two Way binding Using ngModel Directive</h2>
<div>
  city = <input [(ngModel)]='city'>
  <br><br>
  You entered : {{city}}
</div -->>