<p>contactus works!</p>
<div class="col-md-6">
    <form #contactForm="ngForm" novalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" ngModel>
        </div>
        <div class="form-group">
            <label for="MobileNo">MobileNo</label>
            <input type="number" class="form-control" name="mobileNo" placeholder="Enter MobileNo" ngModel>
        </div>
        <div class="form-group">
            <label for="Comments">Comments </label>
            <input type="text" class="form-control" name="comments" placeholder="Enter Comments" ngModel>
        </div>
        <button type="submit" class="btn btn-primary" (click)="displayDetails(contactForm.value)">Submit</button>
    </form>
</div>
